.drinkContent {
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: '. .';
}

figure {
  overflow: hidden;
  max-width: 100%;
}

img {
  max-width: 100%;
}
