@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
* {
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: #d8bf97;
  margin: 0;
}

input {
  color: grey;
  font-size: 1.2rem;
  width: 100%;
}

main {
  padding: 10px 60px;
}
h1 {
  font-size: 35px;
  color: #002d29;
}

h2 {
  font-size: 30px;
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-grid a {
  text-decoration: none;
  color: #002d29;
}
.card {
  align-content: center;
  /* border: 1px solid #80410b;
  border-radius: 6px; */
  margin: 0 10px 10px;
  overflow: hidden;
  max-width: 175px;
}

.card p {
  padding: 5px;
  text-align: center;
  margin: 0;
}

.card img {
  max-width: 170px;
  border-radius: 6px;
}
